/* Tüm elemanların kutu modelini ve varsayılan padding ve margin değerlerini sıfırlama */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sayfa arkaplanı ve merkezde hizalama */
body {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Sayfanın yüksekliğini tam olarak tanımlar, dikey ortalama sağlar */
}

/* Arama kutusu stil ayarları */
.search {
    background-color: #3F3F3F;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

/* Metin kutusu stil ayarları */
.tbox {
    float: left;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    width: 0px; /* Varsayılan olarak genişlik 0 */
    transition: 0.7s; /* Genişliğin değişme animasyon süresi */
    font-family: Arial, Helvetica, sans-serif;
}

/* Buton stil ayarları */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/* Arama kutusu üzerine gelindiğinde metin kutusunun genişlemesi */
.search:hover > .tbox {
    width: 200px;
}
