

/*Her şey sıfırlanır*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Arkaplan resmi ayarlanır*/
body{
    background-image: url(resimler/resim.jpg);
    background-size: cover;
}

/*profile id'sine özel komutlar*/
#profile{
    width: 400px;
    height: 600px;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}

h1{
    color:wheat;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

img{
    width: 50%;
    height: auto;;
    border-radius: 50%;
    margin-top: 20px;
}

h2{
    margin-top: 10px;
    font-size: 30px;
    color:wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

ul li{
    width: 100px;
}

/*RESPONSIVE ayarlar*/
@media only screen and (max-width:750px){
    #profile {
        width: 90%;
    }
    h1 {
            font-size: 40px;
    }
    h2 {
        font-size: 25px;
    }
    p {
        color:whitesmoke;
        font-size: 14px;
        font-weight: bolder;
    }
    ul li {
        width: 80px;
    }
}
